# 非平衡分类问题

In [1]:
import numpy as np
import pandas as pd
# from sklearn

In [20]:
dataSet = pd.read_table(r'C:\Users\Administrator\Desktop\0.txt', header=None, delimiter=',')
dataSet.head()

    0   1  2  3
0  30  64  1  1
1  30  62  3  1
2  30  65  0  1
3  31  59  2  1
4  31  65  4  1

In [14]:
map?