# 非平衡分类问题

In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import AdaBoostClassifier
import random

In [2]:
dataSet = pd.read_csv(r'D:\Repositories\Machine-Learning\dataset\Classification\haberman.txt', header=None)
dataSet.head(10)

    0   1   2  3
0  30  64   1  1
1  30  62   3  1
2  30  65   0  1
3  31  59   2  1
4  31  65   4  1
5  33  58  10  1
6  33  60   0  1
7  34  59   0  2
8  34  66   9  2
9  34  58  30  1

## 数据处理

分成少数类样本,多数类样本,因为用的分类器是Adaboost,把类别设置为1,-1
-1作为反例

In [3]:
dataSet.loc[dataSet[3] == 2, 3] = -1   #把类别2改成1
dataSet.head(10)

    0   1   2  3
0  30  64   1  1
1  30  62   3  1
2  30  65   0  1
3  31  59   2  1
4  31  65   4  1
5  33  58  10  1
6  33  60   0  1
7  34  59   0 -1
8  34  66   9 -1
9  34  58  30  1

In [4]:
test_size = 25
testSet = dataSet.iloc[:test_size]
dataSet.drop([i for i in range(0, test_size)], inplace=True)  #删去测试集
dataSet.index = pd.Series([i for i in range(0, dataSet.shape[0])])
posiSet = dataSet.loc[dataSet[3] == 1]   #1:203  -1:81,设置少数类样本是多数类的1/10, posiSet是多数集
num_minority = int(posiSet.shape[0] / 10)
negaSet = dataSet.loc[dataSet[3] == -1][:num_minority]
negaSet

     0   1   2  3
9   39  66   0 -1
18  41  60  23 -1
19  41  64   0 -1
20  41  67   0 -1
28  42  69   1 -1
29  42  59   0 -1
37  43  58  52 -1
38  43  59   2 -1
39  43  64   0 -1
40  43  64   0 -1
48  44  64   6 -1
49  44  58   9 -1
50  44  63  19 -1
55  45  65   6 -1
56  45  66   0 -1
57  45  67   1 -1
64  46  58   2 -1
65  46  69   3 -1
66  46  62   5 -1
67  46  65  20 -1

In [5]:
def getSubSet(posiSet, minorty_size):   #posiSet的索引是不连续的
    index_sampled = random.sample(posiSet.index, minorty_size)
    
    return posiSet.iloc[index_sampled, :]

def adjust(classifier, f):
    
    
def train(n_H=10, n_h=50):   #H是Adaboost分类器,h是基分类器,h一般采用决策树桩
    f = pow(negaSet.shape[0] / posiSet.shape[0], 1 / (n_H-1))
    minorty_size = negaSet.shape[0]
    classifiers = {} ; thresh_value = {}
    
    for i in range(0, n_H):
        subSet = getSubSet(posiSet, minorty_size)
        temp_trainSet = subSet.append(negaSet)
        classifiers[i] = AdaBoostClassifier(n_estimators=n_h).fit(temp_trainSet.loc[:, :-1], temp_trainSet.loc[:, -1])
        thresh_value[i] = adjustF(classifiers[i], f)  #调整该分类器对应的θ使FP率为f
        remove_correct()
    
    return classifiers

IndentationError: expected an indented block (<ipython-input-5-f705e9fdbfac>, line 9)

In [ ]:
AdaBoostClassifier.predict_proba?